<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.zhangjia.mall.mapper.AddressMapper">
    <!--********************************************根据用户ID查询该用户的所有收货地址*******************************************-->
    <select id="queryByUserId" parameterType="int" resultType="map">
        SELECT *
        FROM address
        WHERE address_status != 0
          AND user_id = #{user_id}
        ORDER BY address_status DESC;
    </select>

    <!--********************************************添加新的收货地址*******************************************-->

    <insert id="doInsert">
        INSERT INTO address(user_id, address_name, province, city,
                            district, country, address_detail, address_postcode, address_tel,address_status)
        VALUES (#{user_id}, #{address_name}, #{province}, #{city}, #{district}, #{country},
                #{address_detail}, #{address_postcode}, #{address_tel},
               <if test="address_status != null">#{address_status}</if>
        <if test="address_status == null">1</if>
               );
    </insert>

    <!--********************************************根据收货地址ID查询该收货地址相关信息*******************************************-->

    <select id="queryByAddressId" resultType="map">
        SELECT * FROM address WHERE address_id = #{address_id} AND address_status != 0
    </select>
    <!--********************************************更新收货地址信息状态*******************************************-->

    <update id="updateAddressStatus">
        UPDATE address SET address_status = #{address_status} WHERE address_id = #{address_id} AND user_id= #{user_id}
    </update>
    <!--********************************************取消默认地址*******************************************-->

    <delete id="cancelDefaultAddress" >
        UPDATE address SET address_status = 1 WHERE address_status = 2 AND user_id = #{user_id}
    </delete>


</mapper>