<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.zhangjia.mall.mapper.CommodityMapper">


    <resultMap id="commodityResultMap" type="map">
        <id column="commodity_id" property="commodity_id"/>
        <collection property="commodityImgs"
                    ofType="map"
                    select="io.zhangjia.mall.mapper.ImgMapper.queryCommodityImgs"
                    column="commodity_id"/>
        <collection property="commodityDetailImgs"
                    ofType="map"
                    select="io.zhangjia.mall.mapper.ImgMapper.queryCommodityDetailImgs"
                    column="commodity_id"/>
    </resultMap>

    <select id="query" resultMap="commodityResultMap">
        /*t1为商品表的所有商品，t2为每个商品规格表，将t1和t2关联，查询出
        每个t1中每个商品所对应规格信息*/
        SELECT *
        FROM commodity t1,
        (SELECT commodity_id cid,
        SUM(commodity_specs_sales) commodity_sales,
        SUM(commodity_specs_inventor) commodity_inventory,
        MAX(commodity_specs_present_price) commodity_max_present_price,
        MIN(commodity_specs_present_price) commodity_min_present_price,
        MAX(commodity_specs_original_price) commodity_max_original_price,
        MIN(commodity_specs_original_price) commodity_min_original_price,
        MAX(commodity_specs_last_price - commodity_specs_present_price) commodity_max_mark_down
        FROM commodity_specs
        WHERE commodity_specs_status = 1
        GROUP BY commodity_id) t2
        <where>
            t1.commodity_id = t2.cid
            AND t1.commodity_status = 1
            <if test="commodity_id != null">
                AND commodity_id = #{commodity_id}
            </if>
            <if test="commodity_name != null">
                AND commodity_name LIKE CONCAT('%',#{commodity_name},'%')
            </if>
            <if test="level1_menu_id != null">
                AND level1_menu_id = #{level1_menu_id}
            </if>

            <if test="level2_menu_id != null">
                AND level2_menu_id = #{level2_menu_id}
            </if>

        </where>
        /* * 0:默认排序
        * 1：按照销量从低到高
        * 2：按照销量从高到低排序DESC
        * 3：按照价格排序
        * 4：按照价格从高到底排序DESC
        * 5：按照时间排序*/

        <choose>
            <when test="order ==  1">
                ORDER BY t2.commodity_sales
            </when>
            <when test="order ==  2">
                ORDER BY t2.commodity_sales DESC
            </when>
            <when test="order ==  3">
                ORDER BY t2.commodity_min_present_price
            </when>
            <when test="order ==  4">
                ORDER BY t2.commodity_min_present_price DESC
            </when>
            <when test="order ==  5">
                ORDER BY t1.commodity_update_time DESC
            </when>
        </choose>

    </select>

    <select id="queryCommoditySpecs" resultType="map" >

        SELECT * FROM commodity_specs WHERE commodity_specs_value = #{commodity_specs_value} AND commodity_specs_status = 1

    </select>



    <select id="queryCommoditySpecsInventory" resultType="int">
        SELECT commodity_specs_inventor  FROM commodity_specs  WHERE  commodity_specs_id = #{commodity_specs_id}
    </select>




    <update id="updateCommoditySpecs4InventoryAndSales" >
        UPDATE commodity_specs
        SET commodity_specs_inventor = commodity_specs_inventor - #{commodity_count},
            commodity_specs_sales    = commodity_specs_sales + #{commodity_count}
        WHERE commodity_specs_id = #{commodity_specs_id}
    </update>



    <insert id="doCommodityInsert" parameterType="map" useGeneratedKeys="true" keyProperty="commodity_id">
        INSERT INTO commodity ( commodity_name, commodity_attribute, commodity_update_time, level1_menu_id, level2_menu_id)
            VALUES (#{commodity_name}, #{commodity_attribute}, current_timestamp, #{level1_menu_id}, #{level2_menu_id});
    </insert>

    <insert id="doCommoditySpecsInsert" >
        INSERT INTO commodity_specs (commodity_id,commodity_specs_value, commodity_specs_original_price, commodity_specs_last_price,
                                     commodity_specs_present_price, commodity_specs_inventor,  commodity_specs_update_time)
            VALUES (#{commodity_id},#{commodity_specs_value}, #{commodity_specs_original_price}, #{commodity_specs_last_price},
                    #{commodity_specs_present_price}, #{commodity_specs_inventor}
                    ,current_timestamp);
    </insert>

</mapper>