<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.zhangjia.mall.mapper.ImgMapper">
    <!--********************************************查询商品图*******************************************-->
    <select id="queryCommodityImgs" resultType="map">

        SELECT img_url, img_order, img_type,img_belong
        FROM img
        <where>
            img_status = 1
            AND img_belong = #{commodity_id}
            AND img_type = '商品图'
        </where>
    </select>
    <!--********************************************查询商品详情图*******************************************-->
    <select id="queryCommodityDetailImgs" resultType="map">

        SELECT img_url, img_order, img_type,img_belong
        FROM img
        <where>
            img_status = 1
            AND img_belong = #{commodity_id}
            AND img_type = '商品详情图'
        </where>
    </select>

    <select id="queryReviewImgs" resultType="map">

        SELECT img_url, img_order, img_type,img_belong
        FROM img
        <where>
            img_status = 1
            AND img_belong = #{review_id}
            AND img_type = '评价图'
        </where>
    </select>

    <select id="queryAvatarImgs" resultType="map">

        SELECT img_url, img_order, img_type,img_belong
        FROM img
        <where>
            img_status = 1
            AND img_belong = #{user_id}
            AND img_type = '用户头像'
        </where>
    </select>

    <!--********************************************添加图片*******************************************-->
    <insert id="doInsert"  >
        INSERT INTO img (img_url, img_belong, img_order, img_type)
        VALUES (#{img_url}, #{img_belong},#{img_order},#{img_type});
    </insert>

    <update id="doUpdateImgStatus" >
        UPDATE img SET img_status = 0 WHERE img_belong = #{img_belong} AND img_type=#{img_type}
    </update>


</mapper>