<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.zhangjia.mall.mapper.IouMapper">

    <!--********************************************查询用户白条信息*******************************************-->
    <select id="queryByUserId" resultType="map" >
        SELECT  * FROM iou WHERE user_id = #{user_id}
    </select>

    <!--********************************************更新用户白条额度*******************************************-->
    <update id="doUpdate">
        UPDATE iou SET iou_usable_limit = iou_usable_limit +  #{money} WHERE user_id = #{user_id}
    </update>


    <!--********************************************插入白条记录*******************************************-->
    <insert id="doInsert" >
        INSERT INTO iou (user_id)VALUES(#{user_id})
    </insert>


</mapper>