<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.zhangjia.mall.mapper.ReviewMapper">

    <resultMap id="queryResultMap" type="map">
        <id column="review_id" property="review_id"/>

        <association property="uses"
                     javaType="map"
                     select="io.zhangjia.mall.mapper.UserMapper.query"
                     column="{user_id=user_id}"/><!--必须这么写，如果只写user_id的话，会报not getter，这种方式相当于传多个参数-->

        <association property="commoditySpecs"
                     javaType="map"
                     select="io.zhangjia.mall.mapper.CommodityMapper.queryCommoditySpecsBySpecsId"
                     column="commodity_specs_id"/>

        <association property="order"
                     javaType="map"
                     select="io.zhangjia.mall.mapper.OrderMapper.queryByUserId"
                     column="{user_id=user_id,order_id=order_id}"/>

        <collection property="reviewImgs"
                    ofType="map"
                    select="io.zhangjia.mall.mapper.ImgMapper.queryReviewImgs"
                    column="review_id"/>

        <collection property="orderDetail"
                    ofType="map"
                    select="io.zhangjia.mall.mapper.OrderMapper.queryCommodityByOrderId"
                    column="order_id"/>

    </resultMap>


    <select id="query" resultMap="queryResultMap">
        /*t1为商品表的所有商品，t2为每个商品规格表，将t1和t2关联，查询出
        每个t1中每个商品所对应规格信息*/
        SELECT *
        FROM review
        <where>
            review_status != 0
            <if test="commodity_id != null">
                AND commodity_id = #{commodity_id}
            </if>
            <if test="review_id != null">
                AND review_id = #{review_id}
            </if>
            <if test="commodity_specs_id != null">
                AND commodity_specs_id = #{commodity_specs_id}
            </if>
            <if test="order_id != null">
                AND order_id = #{order_id}
            </if>
            <if test="review_grade != null">
                AND review_grade = #{review_grade}
            </if>
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
        </where>
        ORDER BY review_time DESC
    </select>


    <insert id="doInsert" parameterType="map" useGeneratedKeys="true" keyProperty="review_id">
        INSERT INTO review (review_content, user_id, commodity_id,
                            commodity_specs_id, order_id, review_grade,
                            review_express, review_service, review_description,
                            review_is_anonymity,order_detail_id)
            VALUE (#{review_content}, #{user_id}, #{commodity_id},
                   #{commodity_specs_id}, #{order_id}, #{review_grade},
                   #{review_express}, #{review_service}, #{review_description},
                   #{review_is_anonymity},#{order_detail_id});
    </insert>

</mapper>