<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.zhangjia.mall.mapper.UserMapper">

<!--********************************************使用动态sql进行多个条件查询*******************************************-->

  <select id="query" resultMap="queryResultMap">

        SELECT * FROM users
        <where>
            users.user_status !=0
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
            <if test="user_name != null">
                AND user_name = #{user_name}
            </if>
            <if test="user_mail != null">
                AND user_mail = #{user_mail}
            </if>
            <if test="user_tel != null">
                AND user_tel = #{user_tel}
            </if>
            <if test="user_password != null">
                AND user_password = #{user_password}
            </if>

            <if test="user_pay_password != null">
                AND user_pay_password = #{user_pay_password}
            </if>

        </where>

    </select>



    <resultMap id="queryResultMap" type="map">
        <id column="user_id" property="user_id"/>

        <association property="user_avatar_url"
                     javaType="string"
                     select="queryUserAvatarUrl"
                     column="user_id" >
        </association>

    </resultMap>

    <select id="queryUserAvatarUrl" resultType="string" >
        SELECT img_url FROM img WHERE img_belong = #{user_id} AND img_type = '用户头像' AND img_status != 0
    </select>

<!--********************************************添加用户*******************************************-->
    <insert id="doInsert" parameterType="map" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO users ( user_name, user_password, user_tel, user_mail, user_nick)

         VALUES(#{user_name},#{user_password},
        <if test="user_tel != null">
            #{user_tel},null,
        </if>
        <if test="user_mail != null">
           null,#{user_mail},
        </if>

        <if test="user_mail == null and user_tel == null">
            null,null,
        </if>
        #{user_name})
    </insert>

<!--********************************************判断支付密码是否设置支付密码*******************************************-->
    <select id="isPayPasswordEmpty" resultType="map" >
        SELECT * FROM  users WHERE user_id = #{user_id} AND user_pay_password IS NOT NULL
    </select>



<!--********************************************使用动态sql更新用户信息*******************************************-->
    <update id="updateUserInfo" parameterType="map">
    UPDATE users
    <set>
        <if test="user_password != null">
            user_password = #{user_password},
        </if>
        <if test="user_pay_password != null">
            user_pay_password = #{user_pay_password},
        </if>
        <if test="user_tel != null">
            user_tel = #{user_tel},
        </if>
        <if test="user_mail != null">
            user_mail = #{user_mail},
        </if>
        <if test="user_nick != null">
            user_nick = #{user_nick},
        </if>
        <if test="user_gender != null">
            user_gender = #{user_gender},
        </if>
        <if test="user_birthday != null">
            user_birthday = #{user_birthday},
        </if>
        <if test="user_exp != null">
            user_exp = #{user_exp},
        </if>
        <if test="user_status != null">
            user_status = #{user_status}
        </if>
    </set>
    WHERE user_id = #{user_id}
    </update>

</mapper>